* {
    box-sizing: border-box;
    margin: 0;
}

.contenedor {

    display: flex;
    flex-direction: column;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li {
    float: left;
    font-size: 15px;
    margin: 10px;
    align-items: center;
    display: flex;
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
    color: black;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

a {
    text-decoration: solid;
    color: #3c4043;
}

.jj {
    width: 11vw;
    cursor: pointer;
}

.hh {
    width: 30px;
    cursor: pointer;
}

/* termina nav */
.d2d {
    min-height: 150px;
    max-height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d1d {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* termina imagen google */
.ccc {

    display: flex;

    height: 44px;
    /* background: #fff; */
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 570px;
    /* width: auto;
    max-width: 584px; */
}

.input {
    border: 1px solid #dfe1e5;
    width: 35vw;
    height: 5vh;
}

.pq {
    width: 35vw;
}
.symbols{

    height: 16px;
    background-color: gray;
    margin-top: 16px;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}
/* terimna barra de busqueda */

.button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin:  20px 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}
.ddd{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
/* termina botones */

.eee{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    /* color: #3c4043; */
    padding-bottom: 10vw;
}
.tt{
    color: #3c4043;
    margin-top: 25px;
}
#f{
    color: #1a0dab
}
/* empieza footer */
.mm{
    color: #70757a;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: #F2F2F2;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
   }
   .oo{
display: flex;
justify-content: space-between;
color: #70757a;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: #F2F2F2;
    padding: 15px 30px;
    align-items: center;
   }
   .nn{
justify-content: space-evenly;
display: flex;
   }
   .v{
    margin: 10px;
    cursor: pointer;
    
   }